@font-face {
  font-family: 'YandexSansDisplayBold';
  src: url('assets/fonts/YandexSans/YandexSansDisplay-Bold.ttf')  format('truetype')
}

@font-face {
  font-family: 'YandexSansDisplayRegular';
  src: url('assets/fonts/YandexSans/YandexSansDisplay-Regular.ttf')  format('truetype')
}

body {
  background-color: white;
  font-family: 'YandexSansDisplayRegular', Fallback, sans-serif;
}

b {
  font-family: 'YandexSansDisplayBold', Fallback, sans-serif;
}

.cv-container {
  display: grid;
  max-width: 1280px;
  margin: 0 auto;

  /* CSS vars */
  --header-photo-width: 220px;
  /* --title-bg-text-color: #5b92cb; */
  --title-bg-text-color: #4a76a8;
  /* END CSS vars */
}


.cv-header-container {
  display: grid;

  grid-template-columns:
    8%
    var(--header-photo-width)
    2%
    auto
    auto
    8%;
  grid-template-rows: auto;
  grid-template-areas:
    ". header-photo . main main ."
    ;
}

.cv-photo {
  display: grid;
  grid-area: header-photo;
}

.cv-photo-img {
  width: var(--header-photo-width);
}

.cv-main-info {
  grid-area: main;
}

.cv-main-about {
  display: grid;

  grid-template-columns: auto 68%;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
  /* grid-auto-flow: column; */
}

.cv-title {
  display: flex;
  align-items: flex-start;
}

.cv-title-text {
  width: 100%;
  background: var(--title-bg-text-color);
  color: white;
  text-transform: uppercase;

  display: flex;
  justify-content: flex-start;
  font-family: 'YandexSansDisplayBold', Fallback, sans-serif;
}

.cv-title-text--with-margin {
  margin-top: 30px;
}

.cv-title-text:before {
  content: '::';
  display: block;
  margin-top: -2.5px;
  margin-left: 15px;
  margin-right: 10px;
}


.cv-main-text {
  font-size: 18px;
}

.cv-main-text--bold {
  font-size: 18px;
  font-family: 'YandexSansDisplayBold', Fallback, sans-serif;
}

.cv-main-contacts, .cv-main-links {
  display: grid;

  grid-template-columns: 45% 55%;
  grid-template-rows: auto;
  align-items: start;
  justify-content: space-between;
  min-width: 475px;
}

.cv-body-container {
  display: grid;

  grid-template-columns: 8% auto 8%;
  grid-template-areas:
    ". body ."
    ;
}

.cv-body-content {
  display: block;
  grid-area: body;
}

.cv-university-record-dates b {
  font-family: 'YandexSansDisplayBold', Fallback, sans-serif;
}
.cv-university-record-dates--bottom {
  align-self: end;
}

.cv-university-record {
  display: grid;

  grid-template-columns: 20% 78%;
  grid-column-gap: 2%;
  grid-row-gap: 10px;

  margin-bottom: 10px;
}

.cv-university-record-content {
  text-align: center;
}

.cv-university-record-title {
  font-size: 18px;
  font-family: 'YandexSansDisplayBold', Fallback, sans-serif;
  margin-bottom: 10px;
}

.cv-university-record-table {
  display: grid;
  text-align: left;
  justify-content: center;

  grid-template-columns: 30% 70%;
}

.cv-university-record-text--bold {
  font-family: 'YandexSansDisplayBold', Fallback, sans-serif;
}

.cv-body-title {
  grid-area: body
}

.cv-footer-container {
  display: grid;
}


.cv-job-record {
  display: grid;

  grid-template-columns: 20% 78%;
  grid-row-columns: auto auto;
  grid-column-gap: 2%;
  grid-row-gap: 10px;

  margin-bottom: 10px;
}

.cv-job-record-content {
  text-align: center;
}

.cv-job-record-dates b {
  align-self: center;
  font-family: 'YandexSansDisplayBold', Fallback, sans-serif;
}

.cv-job-record-title {
  font-size: 18px;
  font-family: 'YandexSansDisplayBold', Fallback, sans-serif;
  margin-bottom: 10px;
}

.cv-job-record-description {
  text-align: left;
}
